/* header */
header{
    background-color: #0020F4;
}
.header-top{
    padding-top: 40px;
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
nav a{
	color: #FFFFFF;
	font-size: 16px;
	font-family: "regular";
}
.main-button{
	margin-right: 43px;
}
.services-button{
	margin-left: 53px;
	margin-right: 45px;
}
.partner-button{
	margin-left: 42px;
	margin-right: 42px;
}
.contact-button{
	color: #171717;
	border-color: #FFFFFF;
	border-radius: 28px;
	padding: 18px 43px 18px 36px;
	background-color: #FFFFFF;
    font-family: bold;
}
li{
	display: inline-block;
}
.header-bottom{
    height: 935px;
    margin: 70px 0px 65px 240px;
}
.left-header-img{
    width: 707px;
    height: 597px;
    border-radius: 15px;
}
.right-header-img{
    width: 948px;
    height: 800px;
    border-radius: 15px;
}
/* section */



/* footer */
footer{
    margin-top: 394px;
}
.footer-top{
    background-color: #0020F4;
    height: 308px;
    padding: 70px 240px 200px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.circle div{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin: 10px;
}
.circle div:hover{
    opacity: 0.5;
    transition: 0.2;
}
.footer-bottom{
    display: block;
    width: 1460;
    margin: auto;
    margin-top: -170px;
    padding: 0px 240px 240px 240px;
}
.footer-title{
    color: #FFFFFF;
    font-size: 32px;
    font-family: "regular";
}
footer img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.middle-text{
    margin-left: 25px;
    margin-right: 25px;
}
.bottom-imgs{
    display: flex;
    justify-content: space-between;
}
.left-img, .right-img{
    margin-top: 50px;
}
footer span a{
    border-left: 2px solid #171717;
    padding-left: 20px;
    color: #171717;
    font-size: 18px;
    font-family: "bold";
    margin-top: 170px;
    position: absolute;
    right: 240px;

}
.left-text, .middle-text, .right-text{
    position: relative;
    max-width: 463px;
    max-height: 420px;

}
.left-text p, .right-text p{
    position: absolute;
    bottom: -40px;
    left: 10px;
    width: 443px;
    height: 125px;
    background-color: #FFFFFF;
    border-radius: 12px;
    font-size: 18px;
    font-family: "regular";
    padding: 30px 74px 30px 30px;
}
.middle-text p{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 443px;
    height: 125px;
    background-color: #FFFFFF;
    border-radius: 12px;
    font-size: 18px;
    font-family: "bold";
    padding: 28px 67px 29px 30px;
}
