/* header */
header{
    background-color: #0020F4;
}





/* section */



/* footer */
footer{
    margin-top: 394px;
}
.footer-top{
    background-color: #0020F4;
    height: 308px;
    padding: 70px 0px 200px 240px;
}
.footer-bottom{
    width: 100%;
    margin-top: -170px;
    padding: 0px 240px 240px 240px;
}
.footer-title{
    color: #FFFFFF;
    font-size: 32px;
    font-family: "regular";
}
footer img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.middle-text{
    margin-left: 25px;
    margin-right: 25px;
}
.bottom-imgs{
    display: flex;
    justify-content: space-between;
}
.left-img, .right-img{
    margin-top: 50px;
}
footer span a{
    border-left: 2px solid #171717;
    padding-left: 20px;
    color: #171717;
    font-size: 18px;
    font-family: "bold";
    margin-top: 170px;
    position: absolute;
    right: 240px;

}
.left-text, .middle-text, .right-text{
    position: relative;
    max-width: 463px;
    max-height: 420px;

}
.left-text p, .right-text p{
    position: absolute;
    bottom: -40px;
    left: 10px;
    width: 443px;
    height: 125px;
    background-color: #FFFFFF;
    border-radius: 12px;
    font-size: 18px;
    font-family: "regular";
    padding: 30px 74px 30px 30px;
}
.middle-text p{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 443px;
    height: 125px;
    background-color: #FFFFFF;
    border-radius: 12px;
    font-size: 18px;
    font-family: "bold";
    padding: 28px 67px 29px 30px;
}